// -------------------------------------------------------------------------------------------------------------------------------------------------------------
//  8888888                                         888             
//    888                                           888             
//    888                                           888             
//    888   88888b.d88b.  88888b.   .d88b.  888d888 888888 .d8888b  
//    888   888 "888 "88b 888 "88b d88""88b 888P"   888    88K      
//    888   888  888  888 888  888 888  888 888     888    "Y8888b. 
//    888   888  888  888 888 d88P Y88..88P 888     Y88b.       X88 
//  8888888 888  888  888 88888P"   "Y88P"  888      "Y888  88888P' 
//                        888                                       
//                        888                                       
//                        888      
// -------------------------------------------------------------------------------------------------------------------------------------------------------------



// Load Master Styles
// -------------------------
@import "../../../Styles/Bootstrap/variables.less";
@import "../../../Styles/_rock-core.less";
@import "../../../Styles/_store.less";
@import "../../../Styles/_rock-variables.less";
@import "_variables.less";
@import "_variable-overrides.less";
@import "_print.less";

// Load Typography Styles
// -------------------------
@import "_typography.less";

// Load HubSpot Overrides
// -------------------------
@import "_hubspot-overrides.less";

// Load Specific Element Styles
// -------------------------
@import "_header.less";
@import "_buttons.less";
@import "_cards.less";
@import "_inputs.less";
@import "_footer.less";



// -------------------------------------------------------------------------------------------------------------------------------------------------------------
//  .d8888b.                                             888       .d8888b.  888             888                   
// d88P  Y88b                                            888      d88P  Y88b 888             888                   
// 888    888                                            888      Y88b.      888             888                   
// 888         .d88b.  88888b.   .d88b.  888d888 8888b.  888       "Y888b.   888888 888  888 888  .d88b.  .d8888b  
// 888  88888 d8P  Y8b 888 "88b d8P  Y8b 888P"      "88b 888          "Y88b. 888    888  888 888 d8P  Y8b 88K      
// 888    888 88888888 888  888 88888888 888    .d888888 888            "888 888    888  888 888 88888888 "Y8888b. 
// Y88b  d88P Y8b.     888  888 Y8b.     888    888  888 888      Y88b  d88P Y88b.  Y88b 888 888 Y8b.          X88 
//  "Y8888P88  "Y8888  888  888  "Y8888  888    "Y888888 888       "Y8888P"   "Y888  "Y88888 888  "Y8888   88888P' 
//                                                                                       888                       
//                                                                                  Y8b d88P                       
//                                                                                   "Y88P"                        
// -------------------------------------------------------------------------------------------------------------------------------------------------------------



html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body {
  overflow-x: hidden;
}

a:hover {
  cursor: pointer;
}

.page-icon {
  display: none;
}

#splash.error {
  background-color: @color-grey;

  #content {
    margin-top: 20px;
    background-color: @body-bg;
    border-radius: @border-radius-base;
    padding: 20px;
  }
}

.not-found h2 {
  font-size: 200px;
  font-weight: @font-weight-bold;
  letter-spacing: -5px;
  line-height: 210px;

  i {
    color: @brand-danger;
    font-size: 210px;
    position: relative;
    top: -12px;
  }
}



// -------------------------------------------------------------------------------------------------------------------------------------------------------------
//  888    888          888                                 .d8888b.  888                                              
//  888    888          888                                d88P  Y88b 888                                              
//  888    888          888                                888    888 888                                              
//  8888888888  .d88b.  888 88888b.   .d88b.  888d888      888        888  8888b.  .d8888b  .d8888b   .d88b.  .d8888b  
//  888    888 d8P  Y8b 888 888 "88b d8P  Y8b 888P"        888        888     "88b 88K      88K      d8P  Y8b 88K      
//  888    888 88888888 888 888  888 88888888 888          888    888 888 .d888888 "Y8888b. "Y8888b. 88888888 "Y8888b. 
//  888    888 Y8b.     888 888 d88P Y8b.     888          Y88b  d88P 888 888  888      X88      X88 Y8b.          X88 
//  888    888  "Y8888  888 88888P"   "Y8888  888           "Y8888P"  888 "Y888888  88888P'  88888P'  "Y8888   88888P' 
//                          888                                                                                        
//                          888                                                                                        
//                          888                                                                                                                                    
// -------------------------------------------------------------------------------------------------------------------------------------------------------------



// Section Helper Classes
// -------------------------
.background--grey {
  background-color: @color-light-grey;
}
.background--dark-blue, .background--primary {
  background-color: @color-primary;
}
.background--medium-blue, .background--secondary {
  background-color: @color-secondary;
}
.background--light-blue, .background--accent {
  background-color: @color-accent;
}
.full-width {
  width: 100vw;
  margin-left: -50vw;
  left: 50%;
  position: relative;
}

// Typography Helper Classes
// -------------------------
.text--dark-blue, .text--primary {
  color: @color-primary !important;
}
.text--medium-blue, .text--dark-teal, .text--secondary {
  color: @color-secondary !important;
}
.text--light-blue, .text--accent {
  color: @color-accent !important;
}
.text--white {
  color: @color-white !important;
}

.text--upper {
  text-transform: uppercase !important;
}
// LEGACY Only here for support, use bootstrap's text-center instead
.text--centered {
  text-align: center !important; 
}

//Spacing Helper Classes
// -------------------------
.py-custom-2x, .pt-custom-2x {
  padding-top: 2rem !important;
}

.pb-custom-2x, .py-custom-2x {
  padding-bottom: 2rem !important;
}

.mb-custom-2x, .my-custom-2x {
  margin-bottom: 2rem !important;
}

.mt-custom-2x, .my-custom-2x {
  margin-top: 2rem !important;
}

@media only screen and (max-width: 768px) {
  .py-custom-2x, pt-custom-2x {
    padding-top: 1rem !important;
  }

  .pb-custom-2x, .py-custom-2x {
    padding-bottom: 1rem !important;
  }

  .mt-custom-2x, .my-custom-2x {
    margin-top: 1rem !important;
  }

  .mb-custom-2x, .my-custom-2x {
    margin-bottom: 1rem !important;
  }
}

//Alignment Helper Classes
// -------------------------
.justify-left {
  display: flex;
  justify-content: flex-start;
}

.justify-center {
  display: flex;
  justify-content: center;
}

.justify-right {
  display: flex;
  justify-content: flex-end;
}

.align-center {
  display: flex;
  align-items: center;
}

.margin-auto {
  display: block;
  margin: auto;
}

//Display Helper Classes
// -------------------------
.hover {
  cursor: pointer;
}

.hidden-anchor {
  visibility: hidden;
  position: relative;
  top: -200px;
}



// -------------------------------------------------------------------------------------------------------------------------------------------------------------
//  .d8888b.                    d8b          888      888b     d888               888 d8b          
// d88P  Y88b                   Y8P          888      8888b   d8888               888 Y8P          
// Y88b.                                     888      88888b.d88888               888              
//  "Y888b.    .d88b.   .d8888b 888  8888b.  888      888Y88888P888  .d88b.   .d88888 888  8888b.  
//     "Y88b. d88""88b d88P"    888     "88b 888      888 Y888P 888 d8P  Y8b d88" 888 888     "88b 
//       "888 888  888 888      888 .d888888 888      888  Y8P  888 88888888 888  888 888 .d888888 
// Y88b  d88P Y88..88P Y88b.    888 888  888 888      888   "   888 Y8b.     Y88b 888 888 888  888 
//  "Y8888P"   "Y88P"   "Y8888P 888 "Y888888 888      888       888  "Y8888   "Y88888 888 "Y888888                                                                                          
// -------------------------------------------------------------------------------------------------------------------------------------------------------------



.social-media .links {
  display: block;
  padding: 0;
  list-style: none;
}

.social-media .links li {
  display: inline-block;
  margin: 0 15px;
}

.social-media .links li a {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #1b3142;
  color: #fff;
  text-decoration: none;
  position: relative;
  font-size: 30px;
  text-align: center;
}

.social-media .links li a i, .social-media .links li a img {
  font-size: 25px;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}



// -------------------------------------------------------------------------------------------------------------------------------------------------------------
//        d8888                                            d8b 888      d8b 888 d8b 888             
//       d88888                                            Y8P 888      Y8P 888 Y8P 888             
//      d88P888                                                888          888     888             
//     d88P 888  .d8888b .d8888b .d88b.  .d8888b  .d8888b  888 88888b.  888 888 888 888888 888  888 
//    d88P  888 d88P"   d88P"   d8P  Y8b 88K      88K      888 888 "88b 888 888 888 888    888  888 
//   d88P   888 888     888     88888888 "Y8888b. "Y8888b. 888 888  888 888 888 888 888    888  888 
//  d8888888888 Y88b.   Y88b.   Y8b.          X88      X88 888 888 d88P 888 888 888 Y88b.  Y88b 888 
// d88P     888  "Y8888P "Y8888P "Y8888   88888P'  88888P' 888 88888P"  888 888 888  "Y888  "Y88888 
//                                                                                              888 
//                                                                                         Y8b d88P 
//                                                                                          "Y88P"  
// -------------------------------------------------------------------------------------------------------------------------------------------------------------



.screen-skip {
  visibility: hidden;
  height: 0px;
  speak: none;
}



// -------------------------------------------------------------------------------------------------------------------------------------------------------------
//  .d88888b.                                    d8b      888                   
// d88P" "Y88b                                   Y8P      888                   
// 888     888                                            888                   
// 888     888 888  888  .d88b.  888d888 888d888 888  .d88888  .d88b.  .d8888b  
// 888     888 888  888 d8P  Y8b 888P"   888P"   888 d88" 888 d8P  Y8b 88K      
// 888     888 Y88  88P 88888888 888     888     888 888  888 88888888 "Y8888b. 
// Y88b. .d88P  Y8bd8P  Y8b.     888     888     888 Y88b 888 Y8b.          X88 
//  "Y88888P"    Y88P    "Y8888  888     888     888  "Y88888  "Y8888   88888P' 
// -------------------------------------------------------------------------------------------------------------------------------------------------------------



@import "_css-overrides.less";