.rocktree .rocktree-item.is-inactive {
    opacity: 1.0;
}

.badge-ck-application {
    color: #347689;
}

.badge-ck-application-fail {
    color: #d4442e;
}

.badge-discovery {
    color: #007acc;
}

.badge-discovery-reg {
    color: #ffc870;
}



.form-group {
    line-height: 1.6;
}

.checkbox-inline:first-child,
.radio-inline:first-child {
    padding-left: 20px;
}

.checkbox-inline {
    line-height: 1.6;
}

// Temporary Fix for Safari 13 Select Rendering Bug
html {
  text-rendering: auto !important;
}

select {
  text-rendering: auto !important;
  -webkit-font-smoothing: none !important;
}
// End Temporary Fix