/bin/*/*.dll
/bin/*.dll
!/bin/roslyn/*.dll
!/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
!/bin/Rock.Common.Mobile.dll

/bin/*.pdb
/bin/*.xml

!/bin/com.9embers.*
!/bin/com.bemadev.*
!/bin/com.bemaservices.*
!/bin/com.bricksandmortarstudio.*
!/bin/com.centralaz.*
!/bin/com.minecartstudio.*
!/bin/com.shepherdchurch.*
!/bin/rocks.pillars.*

!/bin/OpenHtmlToPdf.dll
!/bin/itextsharp.dll
!/bin/sendgrid.webhooks.dll

/*.suo
/*.user
/Test.aspx
/Test.aspx.cs
/vwd.webinfo

node_modules