/ASPNETDB.MDF
/aspnetdb_log.LDF
/Files
/RockShop
RockModelViews.xml
/SlingshotFiles
/Communication Images
/Communication Attachments
/LuceneSearchIndex/
Run.Migration.bat
/TriumphTech-WebAgility
/LuceneContentCollectionIndex/
/ChromeEngine/
Run.Migration.bat
