// -------------------------------------------------------------------------------------------------------------------------------------------------------------
//  88888888888 888                                            .d8888b.           888                           
//      888     888                                           d88P  Y88b          888                           
//      888     888                                           888    888          888                           
//      888     88888b.   .d88b.  88888b.d88b.   .d88b.       888         .d88b.  888  .d88b.  888d888 .d8888b  
//      888     888 "88b d8P  Y8b 888 "888 "88b d8P  Y8b      888        d88""88b 888 d88""88b 888P"   88K      
//      888     888  888 88888888 888  888  888 88888888      888    888 888  888 888 888  888 888     "Y8888b. 
//      888     888  888 Y8b.     888  888  888 Y8b.          Y88b  d88P Y88..88P 888 Y88..88P 888          X88 
//      888     888  888  "Y8888  888  888  888  "Y8888        "Y8888P"   "Y88P"  888  "Y88P"  888      88888P' 
// ------------------------------------------------------------------------------------------------------------------------------------------------------------- 



// Theme Colors *show in editor*

//// Brand Colors 
@color-primary: #163244; // #color
@color-primary-focus: #275878; // #color

@color-secondary: #006991; // #color
@color-secondary-focus: #00455E; // #color

@color-accent: #25a4cd; // #color

@color-black: #0D0D0D; // #color
@color-dark-grey: #58595B; // #color
@color-grey: #E4E8EF; // #color
@color-light-grey: #F1F1F2; // #color
@color-white: #FFFFFF; // #color

//// Legacy Theme Colors
@color-light-blue: #A2C3CC; // #color
@color-medium-blue: #5F9BAC; // #color
@color-dark-blue: @color-primary; // #color
@color-medium-dark-blue: #1B3142; // #color
@color-dark-teal: #054557; // #color


//// Bootstrap Colors {The primary colors defined by the Bootstrap framework. [More Information](http://getbootstrap.com/customize/#colors) }
@brand-primary: @color-primary; // #color
@brand-success: #5cb85c; // #color
@brand-info: #a2c3cc; // #color
@brand-warning: #f0ad4e; // #color
@brand-danger: #d9534f; // #color



// -------------------------------------------------------------------------------------------------------------------------------------------------------------
//  88888888888                                                           888               
//      888                                                               888               
//      888                                                               888               
//      888  888  888 88888b.   .d88b.   .d88b.  888d888 8888b.  88888b.  88888b.  888  888 
//      888  888  888 888 "88b d88""88b d88P"88b 888P"      "88b 888 "88b 888 "88b 888  888 
//      888  888  888 888  888 888  888 888  888 888    .d888888 888  888 888  888 888  888 
//      888  Y88b 888 888 d88P Y88..88P Y88b 888 888    888  888 888 d88P 888  888 Y88b 888 
//      888   "Y88888 88888P"   "Y88P"   "Y88888 888    "Y888888 88888P"  888  888  "Y88888 
//                888 888                    888                 888                    888 
//           Y8b d88P 888               Y8b d88P                 888               Y8b d88P 
//            "Y88P"  888                "Y88P"                  888                "Y88P"  
// -------------------------------------------------------------------------------------------------------------------------------------------------------------



// Typography *show in editor*

//// Fonts
@font-family-primary: museo-sans, sans-serif;         // The primary font in the brand used for most text
@font-family-secondary: museo-sans, sans-serif;       // Secondary font for headers and titles
@font-family-accent: museo-sans, sans-serif;          // This font is not built into the theme, must be specifically set in an element
@font-family-footer: Mulish, museo-sans, sans-serif;  //Font for the footer, possibly should be the secondary, tertiary, or accent?

//// Font Sizes
@font-size-h1: 3em;                      // Heading One
@font-size-h2: 2.25em;                   // Heading Two
@font-size-h3: 1.5em;                    // Heading Three
@font-size-h4: 1.25em;                   // Heading Four
@font-size-h5: 1em;                      // Heading Five
@font-size-h6: 12px;                     // Heading Six
@font-size-p: 16px;                      // Paragraph
@font-size-btn: 16px;                    // Buttons
@font-size-footer: 16px;                 // Footer

//// Mobile Font Sizes
@font-size-mobile-h1: 1.875em;           // Heading One
@font-size-mobile-h2: 1.5em;             // Heading Two
@font-size-mobile-h3: 1.25em;            // Heading Three
@font-size-mobile-h4: 1.25em;            // Heading Four
@font-size-mobile-h5: 1em;               // Heading Five
@font-size-mobile-h6: 12px;              // Heading Six
@font-size-mobile-p: 16px;               // Paragraph
@font-size-mobile-btn: 16px;             // Buttons
@font-size-mobile-footer: 16px;          // Footer

//// Font Weights
@font-weight-base: 400;
@font-weight-bold: 600;

//// Line Heights
@line-height-h1: 1.1875em;               // Heading One
@line-height-h2: 1.1875em;               // Heading Two
@line-height-h3: 1.20833em;              // Heading Three
@line-height-h4: 1.20833em;              // Heading Four
@line-height-h5: 1.20833em;              // Heading Five
@line-height-h6: 20px;                   // Heading Six
@line-height-p: 28px;                    // Paragraph
@line-height-btn: 16px;                  // Buttons
@line-height-footer: 1.25em;             //Footer
    
//// Mobile Line Heights    
@line-height-mobile-h1: 1.1875em;        // Heading One
@line-height-mobile-h2: 1.1875em;        // Heading Two
@line-height-mobile-h3: 1.20833em;       // Heading Three
@line-height-mobile-h4: 1.20833em;       // Heading Four
@line-height-mobile-h5: 1.20833em;       // Heading Five
@line-height-mobile-h6: 20px;            // Heading Six
@line-height-mobile-p: 28px;             // Paragraph
@line-height-mobile-btn: 16px;           // Buttons
@line-height-mobile-footer: 1.25em;      //Footer

//// Line Spacing
@letter-spacing-footer-title: 1.5px;     //Footer Titles



// -------------------------------------------------------------------------------------------------------------------------------------------------------------
//  8888888b.                    d8b                   
//  888  "Y88b                   Y8P                   
//  888    888                                         
//  888    888  .d88b.  .d8888b  888  .d88b.  88888b.  
//  888    888 d8P  Y8b 88K      888 d88P"88b 888 "88b 
//  888    888 88888888 "Y8888b. 888 888  888 888  888 
//  888  .d88P Y8b.          X88 888 Y88b 888 888  888 
//  8888888P"   "Y8888   88888P' 888  "Y88888 888  888 
//                                        888          
//                                   Y8b d88P          
//                                    "Y88P"           
// -------------------------------------------------------------------------------------------------------------------------------------------------------------



// Design *show in editor*

//// Box Shadow

//// Corner Radius
@border-radius-btn: 30px; // Buttons, Pills

//// Padding
@padding-btn-x: 40px; // Buttons, Pills
@padding-btn-y: 20px; // Buttons, Pills
@padding-btn: @padding-btn-y @padding-btn-x; // Buttons, Pills

//// Animation
@transition-duration-header: .5s; //Duration of the visual transition from blue to white
@transition-function-header: linear; //Function for transition timing: linear, ease, step, cubic-bezier, etc.

@transition-duration-mobile-header: .5s; //Duration of the visual transition of opening the mobile navigation drawer
@transition-function-mobile-header: linear; //Function for transition timing: linear, ease, step, cubic-bezier, etc.

@transition-duration-hide-header: .5s; //Duration of the transition for hiding the main nav
@transition-function-hide-header: ease; //Function for transition timing: linear, ease, step, cubic-bezier, etc.



//For Future - Trust Theme Defaults 
//----------------------------------------------------------
// //// Font Sizes
// @font-size-h1: 60px;              // Heading One
// @font-size-h2: 40px;              // Heading Two
// @font-size-h3: 32px;              // Heading Three
// @font-size-h4: 24px;              // Heading Four
// @font-size-h5: 20px;              // Heading Five
// @font-size-h6: 16px;              // Heading Six
// @font-size-p: 18px;               // Paragraph
// @font-size-btn: 16px;             // Buttons
// @font-size-footer: 16px;          // Footer

// //// Mobile Font Sizes
// @font-size-mobile-h1: 48px;       // Heading One
// @font-size-mobile-h2: 36px;       // Heading Two
// @font-size-mobile-h3: 28px;       // Heading Three
// @font-size-mobile-h4: 24px;       // Heading Four
// @font-size-mobile-h5: 20px;       // Heading Five
// @font-size-mobile-h6: 16px;       // Heading Six
// @font-size-mobile-p: 18px;        // Paragraph
// @font-size-mobile-btn: 16px;      // Buttons
// @font-size-mobile-footer: 16px;   // Footer

// //// Font Weights
// @font-weight-base: 400;
// @font-weight-bold: 600;

// //// Line Heights
// @line-height-h1: 64px;            // Heading One
// @line-height-h2: 44px;            // Heading Two
// @line-height-h3: 40px;            // Heading Three
// @line-height-h4: 32px;            // Heading Four
// @line-height-h5: 28px;            // Heading Five
// @line-height-h6: 20px;            // Heading Six
// @line-height-p: 28px;             // Paragraph
// @line-height-btn: 16px;           // Buttons
// @line-height-footer: 1.25em;      //Footer
    
// //// Mobile Line Heights    
// @line-height-mobile-h1: 52px;            // Heading One
// @line-height-mobile-h2: 44px;            // Heading Two
// @line-height-mobile-h3: 36px;            // Heading Three
// @line-height-mobile-h4: 32px;            // Heading Four
// @line-height-mobile-h5: 28px;            // Heading Five
// @line-height-mobile-h6: 20px;            // Heading Six
// @line-height-mobile-p: 28px;             // Paragraph
// @line-height-mobile-btn: 16px;           // Buttons
// @line-height-mobile-footer: 1.25em;      //Footer