// -------------------------------------------------------------------------------------------------------------------------------------------------------------
//  888888b.                                    .d8888b.  888             888                   
//  888  "88b                                  d88P  Y88b 888             888                   
//  888  .88P                                  Y88b.      888             888                   
//  8888888K.   8888b.  .d8888b   .d88b.        "Y888b.   888888 888  888 888  .d88b.  .d8888b  
//  888  "Y88b     "88b 88K      d8P  Y8b          "Y88b. 888    888  888 888 d8P  Y8b 88K      
//  888    888 .d888888 "Y8888b. 88888888            "888 888    888  888 888 88888888 "Y8888b. 
//  888   d88P 888  888      X88 Y8b.          Y88b  d88P Y88b.  Y88b 888 888 Y8b.          X88 
//  8888888P"  "Y888888  88888P'  "Y8888        "Y8888P"   "Y888  "Y88888 888  "Y8888   88888P' 
//                                                                    888                       
//                                                               Y8b d88P                       
//                                                                "Y88P"                        
// -------------------------------------------------------------------------------------------------------------------------------------------------------------



// .btn:not(.btn-default):not(.btn-filter-toggle):not(a[class^="js-"]), 
.registrationentry-summary .actions .btn-default,
.btn-primary, .btn-secondary, .btn-accent, .btn-white {
  text-decoration: none !important;
  cursor: pointer !important;
  padding: calc(@padding-btn-y - 2) calc(@padding-btn-x - 2); //20px 40px was requested, but drop by two to account for border
  border: 2px solid;
  border-radius: @border-radius-btn;
  min-width: 200px;
  display: inline-block;
  text-align: center;
}

// .btn:not(.btn-default):not(.btn-filter-toggle):not(.btn-secondary):not(.btn-accent):not(.btn-white),
.btn-primary {
  background-color: @color-primary !important;
  border-color: @color-primary !important;
  color: @color-white !important;
}

.btn-secondary {
  background-color: @color-secondary !important;
  border-color: @color-secondary !important;
  color: @color-white !important;
}

.btn-accent {
  background-color: @color-accent !important;
  border-color: @color-accent !important;
  color: @color-primary !important;
}

.btn-white {
  background-color: @color-white !important;
  border-color: @color-white !important;
  color: @color-primary !important;
}

.btn:focus {
  outline: none !important;
}



// -------------------------------------------------------------------------------------------------------------------------------------------------------------
//  888    888                                          .d8888b.  888             888                   
//  888    888                                         d88P  Y88b 888             888                   
//  888    888                                         Y88b.      888             888                   
//  8888888888  .d88b.  888  888  .d88b.  888d888       "Y888b.   888888 888  888 888  .d88b.  .d8888b  
//  888    888 d88""88b 888  888 d8P  Y8b 888P"            "Y88b. 888    888  888 888 d8P  Y8b 88K      
//  888    888 888  888 Y88  88P 88888888 888                "888 888    888  888 888 88888888 "Y8888b. 
//  888    888 Y88..88P  Y8bd8P  Y8b.     888          Y88b  d88P Y88b.  Y88b 888 888 Y8b.          X88 
//  888    888  "Y88P"    Y88P    "Y8888  888           "Y8888P"   "Y888  "Y88888 888  "Y8888   88888P' 
//                                                                            888                       
//                                                                       Y8b d88P                       
//                                                                        "Y88P"                        
// -------------------------------------------------------------------------------------------------------------------------------------------------------------



.btn-primary:hover {
  background-color: @color-primary-focus !important;
  border-color: @color-primary-focus !important;
  color: @color-white !important;
}

.btn-secondary:hover {
  background-color: @color-secondary-focus !important;
  border-color: @color-secondary-focus !important;
  color: @color-white !important;
}

.btn-accent:hover {
  background-color: @color-accent-focus !important;
  border-color: @color-accent-focus !important;
  color: @color-white !important;
}

.btn-white:hover {
  background-color: @color-accent !important;
  border-color: @color-accent !important;
  color: @color-primary !important;
}



// -------------------------------------------------------------------------------------------------------------------------------------------------------------
//   .d8888b.  888                        888          .d8888b.  888             888                   
//  d88P  Y88b 888                        888         d88P  Y88b 888             888                   
//  888    888 888                        888         Y88b.      888             888                   
//  888        88888b.   .d88b.  .d8888b  888888       "Y888b.   888888 888  888 888  .d88b.  .d8888b  
//  888  88888 888 "88b d88""88b 88K      888             "Y88b. 888    888  888 888 d8P  Y8b 88K      
//  888    888 888  888 888  888 "Y8888b. 888               "888 888    888  888 888 88888888 "Y8888b. 
//  Y88b  d88P 888  888 Y88..88P      X88 Y88b.       Y88b  d88P Y88b.  Y88b 888 888 Y8b.          X88 
//   "Y8888P88 888  888  "Y88P"   88888P'  "Y888       "Y8888P"   "Y888  "Y88888 888  "Y8888   88888P' 
//                                                                           888                       
//                                                                      Y8b d88P                       
//                                                                       "Y88P"                        
// -------------------------------------------------------------------------------------------------------------------------------------------------------------



.btn-primary.ghost {
  background-color: @color-white !important;
  color: @color-primary !important;
}

.btn-secondary.ghost {
  background-color: @color-white !important;
  color: @color-secondary !important;
}

.btn-accent.ghost {
  background-color: @color-black !important;
  color: @color-white !important;
}

.btn-white.ghost {
  background-color: @color-black !important;
  color: @color-white !important;
}



// -------------------------------------------------------------------------------------------------------------------------------------------------------------
//   .d8888b.  888                        888         888    888                                          .d8888b.  888             888                   
//  d88P  Y88b 888                        888         888    888                                         d88P  Y88b 888             888                   
//  888    888 888                        888         888    888                                         Y88b.      888             888                   
//  888        88888b.   .d88b.  .d8888b  888888      8888888888  .d88b.  888  888  .d88b.  888d888       "Y888b.   888888 888  888 888  .d88b.  .d8888b  
//  888  88888 888 "88b d88""88b 88K      888         888    888 d88""88b 888  888 d8P  Y8b 888P"            "Y88b. 888    888  888 888 d8P  Y8b 88K      
//  888    888 888  888 888  888 "Y8888b. 888         888    888 888  888 Y88  88P 88888888 888                "888 888    888  888 888 88888888 "Y8888b. 
//  Y88b  d88P 888  888 Y88..88P      X88 Y88b.       888    888 Y88..88P  Y8bd8P  Y8b.     888          Y88b  d88P Y88b.  Y88b 888 888 Y8b.          X88 
//   "Y8888P88 888  888  "Y88P"   88888P'  "Y888      888    888  "Y88P"    Y88P    "Y8888  888           "Y8888P"   "Y888  "Y88888 888  "Y8888   88888P' 
//                                                                                                                              888                       
//                                                                                                                         Y8b d88P                       
//                                                                                                                          "Y88P"                        
// -------------------------------------------------------------------------------------------------------------------------------------------------------------



.btn-primary.ghost:hover {
  background-color: @color-primary !important;
  border-color: @color-primary !important;
  color: @color-white !important;
}

.btn-secondary.ghost:hover {
  background-color: @color-secondary !important;
  border-color: @color-secondary !important;
  color: @color-white !important;
}

.btn-accent.ghost:hover {
  background-color: @color-accent !important;
  border-color: @color-accent !important;
  color: @color-primary !important;
}

.btn-white.ghost:hover {
  background-color: @color-white !important;
  border-color: @color-white !important;
  color: @color-primary !important;
}



// -------------------------------------------------------------------------------------------------------------------------------------------------------------
// 888888b.                     888             888                                   .d88888b.                                    d8b      888                   
// 888  "88b                    888             888                                  d88P" "Y88b                                   Y8P      888                   
// 888  .88P                    888             888                                  888     888                                            888                   
// 8888888K.   .d88b.   .d88b.  888888 .d8888b  888888 888d888 8888b.  88888b.       888     888 888  888  .d88b.  888d888 888d888 888  .d88888  .d88b.  .d8888b  
// 888  "Y88b d88""88b d88""88b 888    88K      888    888P"      "88b 888 "88b      888     888 888  888 d8P  Y8b 888P"   888P"   888 d88" 888 d8P  Y8b 88K      
// 888    888 888  888 888  888 888    "Y8888b. 888    888    .d888888 888  888      888     888 Y88  88P 88888888 888     888     888 888  888 88888888 "Y8888b. 
// 888   d88P Y88..88P Y88..88P Y88b.       X88 Y88b.  888    888  888 888 d88P      Y88b. .d88P  Y8bd8P  Y8b.     888     888     888 Y88b 888 Y8b.          X88 
// 8888888P"   "Y88P"   "Y88P"   "Y888  88888P'  "Y888 888    "Y888888 88888P"        "Y88888P"    Y88P    "Y8888  888     888     888  "Y88888  "Y8888   88888P' 
//                                                                     888                                                                                        
//                                                                     888                                                                                        
//                                                                     888                                                                                        
// -------------------------------------------------------------------------------------------------------------------------------------------------------------



.btn-sm {
  padding: 4px 8px !important;
  font-size: 12px !important;
}

.btn-toggle {
  .js-toggle-off:not(.active), .js-toggle-on:not(.active) {
    background-color: @color-light-grey;
    border-color: @color-light-grey;
  }

  .btn, .js-toggle-off:hover, .js-toggle-on:hover {
    padding: 1px 5px;
    font-size: 12px;
    font-weight: normal;
    min-width: 30px;
    background-color: @color-accent;
    color: @color-primary;
    border-color: @color-accent;
  }

  .btn-primary.js-toggle-on, .btn-primary.js-toggle-off {
    border-radius: 3px;
    border: 1px solid transparent;
  }
}

.input-group-btn {
  .btn {
    min-width: 1px;
    line-height: 1em;
    padding: 0.625em 1.125em;
    display: inline-block;
    border-radius: 30px;
    border: 2px solid @color-primary;
    background-color: @color-primary;
    color: @color-white;
    text-align: center;
    transition: all 0.16s ease-in;
    font-family: museo-sans, sans-serif;
    font-size: 16px;
    font-weight: 600;
    box-shadow: none;
    // box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.24);
  }

  .btn.dropdown-toggle {
    min-width: 45px;
    height: 34px;
    border-radius: 4px;
    color: @color-white;
    font-size: 12px;
  }
}

.control-wrapper .btn-group .btn-primary:not(.btn-lg) {
  height: 34px;
  padding: 6px 12px;
  border-top-left-radius: 4px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 0px;
}

.grid-actions {

  .btn {
    padding: 4px;
    width: 25px;
    height: 25px;
    border-radius: 30px;
    text-align: center;
    background-color: @color-primary;
    color: @color-light-blue;
    border-color: @color-primary;
    position: relative;

    i {
      position: absolute;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
      left: 50%;
    }
  }

  .btn:hover {
    background-color: @color-light-blue;
    color: @color-primary;
    border-color: @color-primary;
  }
}

.grid-filter header {

  .btn-filter-toggle {
    top: 1px;
    left: 18px;
    padding: 4px;
    margin: 0;
    background: @grid-filter-bg;
    border: none;
  }
}