.navbar-nav>li>a[id$='lbLogin'] {
    font-size: 1.5em;
    color: #fff !important;
}

.photo img {
    max-width: 150px;
}

.header-image {
    width: 300px;
    padding: 20px;
    margin: 0 auto;
}

footer {
    margin-top: 15px;
    margin-bottom: 0px;
    padding-bottom: 150px;
    padding-top: 20px;
}

.registrationentry-registrant .text-muted {
    color: #aaa;
}




.checkbox-inline:first-child,
.radio-inline:first-child {
    padding-left: 20px;
}